* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/IRANSans\(FaNum\).ttf');
}

@font-face {
    font-family: 'black';
    src: url('../fonts/IRANSans\(FaNum\)_Black.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/IRANSans\(FaNum\)_Bold.ttf');
}

@font-face {
    font-family: 'light';
    src: url('../fonts/IRANSans\(FaNum\)_Light.ttf');
}

@font-face {
    font-family: 'medium';
    src: url('../fonts/IRANSans\(FaNum\)_Medium.ttf');
}

@font-face {
    font-family: 'ultraLight';
    src: url('../fonts/IRANSans\(FaNum\)_UltraLight.ttf');
}

table {
    border-collapse: collapse;
    font-family: 'main' !important;
    text-align: center;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

th , td {
    font-family: 'main' !important;
}

body,
html {
    font-family: 'main'  !important;
    background-color: #F3F4F5;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

:focus-visible {
    outline: none;
}

a:hover {
    text-decoration: none;
}

article {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 94, 129);
}

a {
    text-decoration: none;
}

textarea{
    font-family: 'main' !important;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'main' !important;
}

label{
    font-family: 'main'  !important;
    background: white;
}

input{
    font-family: 'main'  !important;
}

